.hero {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: center;
  padding: 0 5%;
}

/* Text Styling */
.hero h3 {
  font-weight: 500;
  font-size: 20px;
  color: #333;
}

.hero h2,
.hero h1 {
  font-size: 58px;
  font-weight: 600;
  color: #111;
  line-height: 1.1;
}

.hero p {
  margin-top: 12px;
  font-size: 18px;
  color: #465b52;
  max-width: 480px;
}

/* CTA Button */
.hero-btn {
  background-repeat: no-repeat;
  text-decoration: none;
  background-size: contain;
  color: #577065;
  background-color: transparent;
  border: none;
  padding: 17px 80px 14px 65px;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  /* margin-left: 8%; */
  margin-top: 2%;
}

/* ---------------- MOBILE RESPONSIVE ---------------- */
@media (max-width: 768px) {
  .hero {
    height: auto;
    padding: 10% 5% 20% 5%;
  }

  .hero h2,
  .hero h1 {
    font-size: 38px;
  }

  .hero p {
    font-size: 17.3px;
    color: rgb(242, 6, 6);
    text-decoration:underline;
  }

  .hero-btn {
    padding: 12px 28px;
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .hero h2,
  .hero h1 {
    font-size: 32px;
  }

  .hero h3 {
    font-size: 29px;
    margin-left: -5%;
  }

  .hero-btn {
    width: fit-content;
  }
}
