.hero {
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 19% right 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Inner container for spacing */
.container {
  margin-top: 2px;
}

/* Headings & text */
.hero h3 {
  margin-left: 10%;
  font-weight: 560;
  font-size: 20px;
  color: #333;
}

.hero h2 {
  margin-left: 10%;
  margin-top: 20px;
  font-size: 60px;
  font-weight: 500;
  color: #000;
}

.hero h1 {
  margin-left: 10%;
  font-size: 60px;
  font-weight: 500;
  color: #000;
}

.hero p {
  font-size: 18px;
  color: #465b52;
  margin-left: 11%;
  margin-top: 10px;
}

/* Hero Button */
.hero-btn {
  background-repeat: no-repeat;
  background-size: contain;
  color: #577065;
  background-color: transparent;
  border: none;
  padding: 17px 80px 14px 65px;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  margin-left: 12%;
  margin-top: 2%;
}
